In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
e = pd.Series(index=[datetime(1910,1,1), datetime(1910,2,1), datetime(1910,3,1), datetime(1910,4,1)], data=[1,2,3,4])

In [3]:
a = pd.Timestamp(1910,1,1)
a

Timestamp('1910-01-01 00:00:00')

In [4]:
b = -pd.DateOffset(months=2)
b

<-1 * DateOffset: months=2>

In [5]:
a + b

Timestamp('1909-11-01 00:00:00')

In [6]:
date1 = pd.Timestamp(1910,6, 1)
date2 = pd.Timestamp(1910,8, 1)

In [7]:
%%time

for i in range(10000000):
    int((d - c).days / (365.25 / 12))

NameError: name 'd' is not defined

In [8]:
%%time

for i in range(10000000):
    ((date1.year - date2.year) * 12) + date1.month - date2.month

CPU times: user 1.72 s, sys: 0 ns, total: 1.72 s
Wall time: 1.72 s

In [33]:
dates = e.index.date
dates[2] = np.nan
dates = dates.reshape(-1,1)
dates

array([[datetime.date(1910, 1, 1)],
       [datetime.date(1910, 2, 1)],
       [nan],
       [datetime.date(1910, 4, 1)]], dtype=object)

In [39]:
f = lambda x: np.nan if pd.isnull(x[0]) else x[0].month
g = lambda x: np.nan if pd.isnull(x[0]) else x[0].month

def p(x):
    if pd.isnull(x):
        return np.nan
    else:
        return np.float(x.month)

p = np.vectorize(p)

a = np.apply_along_axis(p, 1, dates)
a

array([[ 1.],
       [ 2.],
       [nan],
       [ 4.]])

In [35]:
c = pd.DateOffset(years=1, months=-1)

In [12]:
pd.date_range(start=dates[0][0], end=dates[0][0] + c, freq='MS')

DatetimeIndex(['1910-01-01', '1910-02-01', '1910-03-01', '1910-04-01',
               '1910-05-01', '1910-06-01', '1910-07-01', '1910-08-01',
               '1910-09-01', '1910-10-01', '1910-11-01', '1910-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [13]:
dates[0][0]

datetime.date(1910, 1, 1)

In [14]:
e.index.date

array([datetime.date(1910, 1, 1), datetime.date(1910, 2, 1),
       datetime.date(1910, 3, 1), datetime.date(1910, 4, 1)], dtype=object)

In [15]:
e.index.date.reshape(-1,1)

array([[datetime.date(1910, 1, 1)],
       [datetime.date(1910, 2, 1)],
       [datetime.date(1910, 3, 1)],
       [datetime.date(1910, 4, 1)]], dtype=object)

In [16]:
dates[2]

array([nan], dtype=object)